
.card{
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px #aaa;
  background: #fff;
}

h4 {
  border-bottom: 1px solid #777;
  padding: 5px;
  margin-top: 0;
}

a{
  color: #777;
  display: block;
  width: 100%;
  height: 100%;
  padding: 6px 12px 6px 12px;
}

ul,li{
  margin: 0;
  padding: 0;
}


/* Social Media buttons*/
.facebook{
  box-shadow: 0 2px #425f9c;
}

.twitter{
  box-shadow: 0 2px #4ecef5;
}

.github{
  box-shadow: 0 2px #353535;
}

.google-plus{
  box-shadow: 0 2px #cc4a37;
}
