<div class="row">
  <h2>Edit post</h2>
  <div class="col-xs-12">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="preview">Article preview</label>
        <textarea id="preview" name="preview" placeholder="Post preview..." class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" name="preview" placeholder="Post preview..." class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" class="form-control" name="tags" id="tags">
      </div>
      <div class="form-group">
        <label for="thumbnail">Thumbnail (1000x300)</label>
        <input type="text" id="thumbnail" class="form-control">
      </div>
    </form>
  </div>
</div>
