<nav>
  <h3>Welcome, {{user}}</h3>
  <div class="section">Navigation</div>
  <ul>
    <li><a [routerLink]="['/admin']"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
    <li><a [routerLink]="['stats']"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
    <li><a [routerLink]="['users/new']"><span class="glyphicon glyphicon-user"></span> Add user</a></li>
    <li><a [routerLink]="['users']"><span class="glyphicon glyphicon-list-alt"></span> Manage users</a></li>
    <li><a (click)="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
  </ul>
  <div class="section">Posts</div>
  <ul>
    <li><a [routerLink]="['posts/new']"><span class="glyphicon glyphicon-plus"></span> New post</a></li>
    <li><a [routerLink]="['posts/manage']"><span class="glyphicon glyphicon-edit"></span> Manage posts</a></li>
  </ul>
</nav>
