<nav>
  <h3>Welcome, {{user}}</h3>
  <div class="section">Navigation</div>
  <ul>
    <li><span class="glyphicon glyphicon-dashboard"></span> Dashboard</li>
    <li><span class="glyphicon glyphicon-stats"></span> Stats</li>
    <li><span class="glyphicon glyphicon-user"></span> Add user</li>
    <li><span class="glyphicon glyphicon-list-alt"></span> Manage users</li>
    <li><span class="glyphicon glyphicon-off"></span> Logout</li>
  </ul>
  <div class="section">Posts</div>
  <ul>
    <li><span class="glyphicon glyphicon-plus"></span> New post</li>
    <li><span class="glyphicon glyphicon-edit"></span> Manage posts</li>
  </ul>
</nav>
