/* You can add global styles to this file, and also import other style files */

/*SPINNER*/

.loading{
  position: fixed;
  top:0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  z-index: -1;
  transition: opacity 1s;
}

app-root:empty + .loading{
  opacity: 1;
}

.spinner{
  position: absolute;
  top: 50%;
  left:calc(50% - 32px);
}

.spinner img {
  display: block;
  width: 64px;
  height: 64px;
}

.dots{
  position: relative;
  right: 12px;
  top: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 5px;
  background-color: #333;
  border-radius: 100%;
}

.dot1{
  -webkit-animation: sk-bounce 1s infinite ease-in-out;
  animation: sk-bounce 1s infinite ease-in-out;
}

.dot2{
  -webkit-animation: sk-bounce 1s infinite ease-in-out 0.16s;
  animation: sk-bounce 1s infinite ease-in-out 0.16s;
}

.dot3{
  -webkit-animation: sk-bounce 1s infinite ease-in-out 0.33s;
  animation: sk-bounce 1s infinite ease-in-out 0.33s;
}

.dot4{
  -webkit-animation: sk-bounce 1s infinite ease-in-out 0.5s;
  animation: sk-bounce 1s infinite ease-in-out 0.5s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
