<div class="row">
  <div class="col-lg-9">
    <div class="card">
      <h3>About</h3>
      <p class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue felis erat. Proin purus arcu, viverra in tristique vitae, efficitur nec orci. Praesent bibendum posuere neque a rhoncus. Nullam vel magna lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin non tortor sit amet lorem luctus convallis non non leo. Mauris nec vulputate sem. Suspendisse quam enim, fermentum a turpis vitae, dictum fringilla nulla. In et volutpat tellus, eu dictum nulla. Nam iaculis cursus dapibus. Nam pellentesque et arcu non bibendum. Pellentesque dapibus laoreet neque, nec interdum nisl varius vel. Morbi tellus ipsum, iaculis non lacus ut, vestibulum ultrices orci.

        Fusce sit amet odio rhoncus, auctor lorem ut, scelerisque leo. Nam nec turpis gravida sem porttitor molestie. Donec dolor quam, commodo semper aliquet rutrum, imperdiet non est. Cras scelerisque eu lorem nec auctor. Maecenas ac massa urna. Fusce malesuada, neque vel pharetra mollis, leo mauris ullamcorper libero, a bibendum metus mi a dolor. In vitae dui nunc. Vestibulum scelerisque lacus sed quam semper volutpat. Donec eu commodo purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ullamcorper blandit felis. Praesent auctor vehicula eros sit amet vehicula. Vivamus efficitur, ex id porttitor vehicula, lorem felis sollicitudin elit, sed volutpat dolor lacus nec tellus.

        Praesent vestibulum accumsan quam vel auctor. Donec ut congue eros, vel maximus dui. Etiam vestibulum sed turpis eu pretium. Fusce massa quam, consectetur sed aliquam in, rutrum eu eros. Nunc sit amet tempor quam, blandit suscipit odio. Duis leo diam, molestie vitae ante eu, feugiat sagittis nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent eu pretium metus. Cras et eros erat. Suspendisse sit amet justo et enim egestas vehicula ac eget sem. In aliquam consequat erat, nec efficitur odio imperdiet at. Nullam fringilla venenatis mauris, eu ullamcorper elit. Nulla facilisi. Nunc finibus euismod nisl, eu faucibus nisl feugiat in.
      </p>
    </div>
  </div>
  <div class="col-lg-3">
    <app-aside></app-aside>
  </div>
</div>
<div class="row">
  <div class="col-lg-9">
    <app-about-form></app-about-form>
  </div>
</div>
